body {
  background-color: white;
  width: 21cm;
  height: 29.7cm;
  margin: auto;
  
}
.header {
  color: whitesmoke;
  font-family: verdana;
  font-size: 150%;
  border: 2px solid #788f58;
  padding: 10x;
  text-align: center;
  background-color: #788f58;
  margin: 10px;
  font-family: "Garamond", Times, serif;
}
.left{
  width: 45%;
    min-width: 350px;
    height: available;
    min-height: 400px;
    float: left;
    border-collapse: collapse;
    text-align: right;
    margin-left: 20px;
    font-family: "Garamond", Times, serif;
}
.right{
  width: 45%;
    min-width: 350px;
    height: available;
    min-height: 400px;
    float: right;
    border-collapse: collapse;
    text-align: left;
    margin-right: 20px;
    font-family: "Garamond", Times, serif;

}
.vertical{
  top: 5px;
  width: 1.2px;
  /*border: 2px solid #788f58;
  */height: 740px;
  position: relative;
  margin: auto;
  background-color: #c7c7c7;
}
.firstLine{
  position: absolute;
  /*border: 1px solid #979995; */
  background-color: #c7c7c7;
  width: 30px;
  height: 1px;
  top: 28px;
  left: -15px;
}
.circleOne{
  border-radius: 50%;
  position: absolute;
  border: 5px solid #788f58;
  top: -4px;
  left: 10.5px;
}
.secondLine{
  position: absolute;
  /*border: 1px solid #c7c7c7; */
  background-color: #c7c7c7;
  width: 15px;
  height: 1px;
  top: 148px;
  left: 0px;
}
.circleTwo{
  border-radius: 50%;
  position: absolute;
  border: 5px solid #788f58;
  top: -5px;
  left: -4.5px;
}
.thirdLine{
  position: absolute;
  /*border: 1px solid #c7c7c7; */
  background-color: #c7c7c7;
  width: 15px;
  height: 1px;
  top: 307px;
  left: -15px;
}
.circleThree{
  border-radius: 50%;
  position: absolute;
  border: 5px solid #788f58;
  top: -4.5px;
  left: 10.5px;
}
.progress{
    accent-color: #788f58 !important;
    margin-bottom: 4px;
    font-family: "Garamond", Times, serif;
}
